body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-width: 320px;
  }
  
  nav li {
    text-align: right;
    border-bottom: 1px solid grey;
  }
  
  nav li:first-child {
    border-top: 1px solid grey;
  }
  
  nav a {
    text-decoration: none;
    display: block;
    padding: 5px 10px 5px 5px;
  }

  nav a:hover {
    background-color: #023047;
    color: #f1f1f1;
  }
  
  nav header {
    text-align: center;
    font-weight: 500;
    padding: 5px 0;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
    font-size: x-large;
  }
  
  nav {
    width: 25%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;
    background-color: #f1f1f1;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    margin-top: 48px;
    padding: 0;
  }
  
  span>code {
      display: block;
      background-color: lightgrey;
      padding: 10px;
      border-radius: 0.25em;
      max-width: 100vw;
      margin: 0.5em;
  }
  
  main {
    margin-left: 25%;
    padding: 0 15px;
  }
  
  .main-section header {
    font-weight: 800;
    font-size: 1.2em;
    padding-top: 25px;
  }
  
  section.main-section:not(:first-of-type) header
  {
      border-top: 1px solid grey;
  }

  @media (max-width:767px) {
    nav header{
    text-align: center;
    font-weight: 500;
    padding: 5px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
    nav {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  #main-doc{
    padding-top: 212px;
    margin-left:0;
  }
    nav li{
    min-width: 320px;
    text-align: center;
    }
    nav a{
      color: #023047;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  