body{
    font-family: sans-serif;
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    padding: 20px;
}

div{
    background-color: burlywood;
    max-width: 500px;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    padding: 20px;
}

hr {
    background-color: brown;
    height: 5px;
    border: 0;
}

h1 {
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
    margin-bottom: 0;
}

h1, h2, p {
    text-align: center;
}

h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flavor,.dessert {
    text-align: left;
    display: inline-block;
    width: 75%;
    margin: 5px 0;
}

.price {
    display: inline-block;
    text-align: right;
    width: 25%;
    margin: 5px 0;
}

/*FOOTER*/
a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}

footer {
    font-size: 14px;
}

.address {
    margin-bottom: 0;
}

.footer-rule {
    margin-top: 25px;
}